<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {{#linkTo "home"}}<span class="brand">Entity</span>{{/linkTo}}
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li class="active">{{#linkTo "home"}}Home{{/linkTo}}</li>
          <li>{{#linkTo "about"}}About{{/linkTo}}</li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>

<div class="container">
  {{outlet}}
</div> <!-- /container -->

